* {
    box-sizing: border-box;
}

.light {
    display: block;
}
.dark {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-shrink: 1;
    flex-grow: 1;

}

@media all and (prefers-color-scheme: dark) {
    .light{
        display: none;
    }
    .dark {
        display: block;
    }
}