* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-shrink: 1;
    flex-grow: 1;

}

@media all and (prefers-color-scheme: dark) {
    .google-logo img {
        content: url("/img/googlelogo_light_color_272x92dp.png");
    }
}